{% extends 'admin/base.html.twig' %}

{% block title %}Liste des Trajets
{% endblock %}

{% block body %}


	<!-- Modal -->
	<div class="modal modal-sm fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Voulez-vous vraiment supprimer ce trajet ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Fermer</button>
					<a id="btn" href="" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
						<button type="button" class="btn btn-danger btn-sm">Confirmer</button>
					</a>

				</div>
			</div>
		</div>
	</div>

{{ component('TrajetSearch') }}	


	<script>
		function myFunction(id) {
const btn = document.getElementById("btn");
btn.href = "/trajet/delete/" + id;
}
	</script>

{% endblock %}
